Repository aschilling-nv/dynamo, changes with the owners that CODEOWNERS names for each.
All owners: @ai-dynamo/dynamo-rust-codeowners, @ai-dynamo/python-codeowners, @ai-dynamo/Devops, @rmccorm4, @tanmayv25, @richardhuo-nv, @ptarasiewiczNV, @ishandhanani, @alec-flowers, @nnshah1, @hutm, @biswapanda, @julienmancuso, @hhzhang16, @mohammedabdulwahhab, @atchernych, @whoisj, @nealvaidya, @indrajit96, @krishung5, @tedzhouhk, @jasonqinzhou, @PeaBrane, @Aphoh, @michaelshin

CALL ME PEABRANE THE WAY I MAKE THE ROUTER ZOOM
  components/backends/sglang/launch/disagg_router.sh
  components/src/dynamo/router/__main__.py
  components/src/dynamo/sglang/args.py
  components/src/dynamo/sglang/main.py
  components/src/dynamo/sglang/request_handlers/llm/decode_handler.py
Owners: @ai-dynamo/python-codeowners, @ai-dynamo/Devops

pre-com
  components/src/dynamo/sglang/args.py
  components/src/dynamo/sglang/main.py
  components/src/dynamo/sglang/request_handlers/llm/decode_handler.py
Owners: @ai-dynamo/python-codeowners, @ai-dynamo/Devops

fix posting
  .github/workflows/upload_complete_workflow_metrics.py
Owners: @ai-dynamo/Devops, @nnshah1

add job name field
  .github/workflows/upload_complete_workflow_metrics.py
Owners: @ai-dynamo/Devops, @nnshah1

fix
  lib/llm/src/preprocessor.rs
Owners: @ai-dynamo/dynamo-rust-codeowners

Cleanup futures use
  components/src/dynamo/sglang/request_handlers/handler_base.py
  components/src/dynamo/sglang/request_handlers/llm/decode_handler.py
  components/src/dynamo/sglang/request_handlers/llm/prefill_handler.py
Owners: @ai-dynamo/python-codeowners, @ai-dynamo/Devops

fix: mention default in CRD doc
  deploy/cloud/operator/api/v1alpha1/dynamocomponentdeployment_types.go
  deploy/cloud/operator/api/v1alpha1/dynamocomponentdeployment_types_test.go
  deploy/cloud/operator/api/v1alpha1/dynamographdeployment_types.go
  deploy/cloud/operator/api/v1alpha1/zz_generated.deepcopy.go
  deploy/cloud/operator/docs/crd-ref-docs-config.yaml
  deploy/cloud/operator/internal/controller/dynamocomponentdeployment_controller_test.go
  deploy/cloud/operator/internal/dynamo/backend_sglang.go
  deploy/cloud/operator/internal/dynamo/backend_sglang_test.go
  deploy/cloud/operator/internal/dynamo/backend_trtllm.go
  deploy/cloud/operator/internal/dynamo/backend_trtllm_test.go
  deploy/cloud/operator/internal/dynamo/backend_vllm.go
  deploy/cloud/operator/internal/dynamo/backend_vllm_test.go
  deploy/cloud/operator/internal/dynamo/graph.go
  deploy/cloud/operator/internal/dynamo/graph_test.go
  docs/kubernetes/api_reference.md
Owners: @hutm, @biswapanda, @ishandhanani, @julienmancuso, @hhzhang16, @nnshah1, @mohammedabdulwahhab, @atchernych

fix: mention default in CRD doc
  deploy/cloud/operator/Makefile
  deploy/cloud/operator/docs/footer.md
  docs/kubernetes/api_reference.md
Owners: @hutm, @biswapanda, @ishandhanani, @julienmancuso, @hhzhang16, @nnshah1, @mohammedabdulwahhab, @atchernych

cleanup debugging
  .github/workflows/container-validation-backends.yml
  .github/workflows/upload_complete_workflow_metrics.py
Owners: @ai-dynamo/Devops, @nnshah1

change to wait for all builds again
  .github/workflows/container-validation-backends.yml
Owners: @ai-dynamo/Devops, @nnshah1

fix precommit
  .github/actions/docker-build/action.yml
  .github/workflows/container-validation-backends.yml
  .github/workflows/upload_complete_workflow_metrics.py
Owners: @ai-dynamo/Devops, @nnshah1

Cleanup logs
  components/src/dynamo/sglang/request_handlers/llm/decode_handler.py
  components/src/dynamo/sglang/request_handlers/llm/prefill_handler.py
Owners: @ai-dynamo/python-codeowners, @ai-dynamo/Devops

fix: got disagg working
  lib/bindings/python/rust/lib.rs
  lib/runtime/src/logging.rs
  rebuild.sh
Owners: @ai-dynamo/dynamo-rust-codeowners

feat: document multinode operator behavior
  docs/kubernetes/multinode-deployment.md
Owners: none

feat: Introduce storage_client in DistributedRuntime
  lib/llm/src/http/service/health.rs
  lib/llm/src/http/service/service_v2.rs
  lib/runtime/src/component.rs
  lib/runtime/src/distributed.rs
  lib/runtime/src/instances.rs
  lib/runtime/src/lib.rs
  lib/runtime/src/storage/key_value_store.rs
  lib/runtime/src/storage/key_value_store/etcd.rs
  lib/runtime/src/storage/key_value_store/mem.rs
  lib/runtime/src/storage/key_value_store/nats.rs
Owners: @ai-dynamo/dynamo-rust-codeowners

fix: init logger in new runtime rather than on import
  lib/bindings/python/rust/lib.rs
  lib/runtime/src/logging.rs
Owners: @ai-dynamo/dynamo-rust-codeowners

Thanks Code Rabbit
  lib/llm/src/grpc/service/kserve.rs
  lib/llm/src/http/service/service_v2.rs
  lib/runtime/src/component.rs
  lib/runtime/src/instances.rs
Owners: @ai-dynamo/dynamo-rust-codeowners

cleanup code
  .github/actions/docker-build/action.yml
  .github/workflows/container-validation-backends.yml
Owners: @ai-dynamo/Devops, @nnshah1

further cleanup
  .github/actions/docker-build/action.yml
Owners: @ai-dynamo/Devops, @nnshah1

further cleanup
  .github/workflows/container-validation-backends.yml
Owners: @ai-dynamo/Devops, @nnshah1

Cleanup logs
  components/src/dynamo/sglang/request_handlers/handler_base.py
  components/src/dynamo/sglang/request_handlers/llm/decode_handler.py
  components/src/dynamo/sglang/request_handlers/llm/prefill_handler.py
  tests/fault_tolerance/cancellation/test_sglang.py
Owners: @ai-dynamo/python-codeowners, @ai-dynamo/Devops

CI fix
  components/src/dynamo/sglang/request_handlers/handler_base.py
Owners: @ai-dynamo/python-codeowners, @ai-dynamo/Devops

feat: add custom backend metrics polling with static/dynamic mode support
  components/src/dynamo/frontend/main.py
  examples/custom_backend/nim/README.md
  examples/custom_backend/nim/mock_nim_backend.py
  examples/custom_backend/nim/mock_nim_frontend.py
  examples/custom_backend/nim/mock_nim_server.py
  lib/bindings/python/rust/llm/entrypoint.rs
  lib/llm/src/entrypoint/input/http.rs
  lib/llm/src/http/service.rs
  lib/llm/src/http/service/custom_backend_metrics.rs
  lib/llm/src/http/service/metrics.rs
  lib/llm/src/http/service/nim.rs
  lib/llm/src/http/service/service_v2.rs
  lib/llm/src/local_model.rs
Owners: @ai-dynamo/python-codeowners, @ai-dynamo/Devops, @nnshah1, @whoisj, @nealvaidya, @ishandhanani, @ai-dynamo/dynamo-rust-codeowners

CI fix
  components/src/dynamo/sglang/request_handlers/handler_base.py
Owners: @ai-dynamo/python-codeowners, @ai-dynamo/Devops

first commit
  lib/llm/src/kv_router/subscriber.rs
  lib/runtime/src/transports/nats.rs
Owners: @ai-dynamo/dynamo-rust-codeowners

debug
  lib/kvbm/src/block_manager/distributed/leader.rs
Owners: @ai-dynamo/dynamo-rust-codeowners

debug
  lib/kvbm/src/block_manager/distributed/leader.rs
Owners: @ai-dynamo/dynamo-rust-codeowners

debug
  lib/kvbm/src/block_manager/distributed/leader.rs
Owners: @ai-dynamo/dynamo-rust-codeowners

debug
  lib/kvbm/src/block_manager/distributed/leader.rs
Owners: @ai-dynamo/dynamo-rust-codeowners

debug
  lib/llm/src/block_manager/distributed/leader.rs
Owners: @ai-dynamo/dynamo-rust-codeowners

debug
  lib/llm/src/block_manager/distributed/leader.rs
Owners: @ai-dynamo/dynamo-rust-codeowners

debug
  lib/kvbm/src/block_manager/distributed/leader.rs
Owners: @ai-dynamo/dynamo-rust-codeowners

debug
  lib/kvbm/python/kvbm/trtllm_integration/connector/kvbm_connector_leader.py
  lib/kvbm/python/kvbm/trtllm_integration/connector/kvbm_connector_worker.py
Owners: @ai-dynamo/python-codeowners, @ai-dynamo/Devops

debug
  lib/kvbm/src/block_manager/distributed/leader.rs
Owners: @ai-dynamo/dynamo-rust-codeowners

debug
  lib/kvbm/src/block_manager/distributed/leader.rs
Owners: @ai-dynamo/dynamo-rust-codeowners

fix
  lib/kvbm/python/kvbm/trtllm_integration/connector/kvbm_connector_leader.py
  lib/kvbm/python/kvbm/trtllm_integration/connector/kvbm_connector_worker.py
  lib/kvbm/src/block_manager/distributed/leader.rs
  lib/kvbm/src/lib.rs
Owners: @ai-dynamo/python-codeowners, @ai-dynamo/Devops, @ai-dynamo/dynamo-rust-codeowners

fix
  lib/kvbm/src/block_manager/distributed/leader.rs
Owners: @ai-dynamo/dynamo-rust-codeowners

move deepep json
  recipes/deepseek-r1/sglang-wideep/deepep.json
Owners: none

fix: setup planner serviceaccount in cluster-wide deployment
  deploy/cloud/helm/platform/components/operator/templates/deployment.yaml
  deploy/cloud/helm/platform/components/operator/templates/planner.yaml
  deploy/cloud/operator/cmd/main.go
  deploy/cloud/operator/internal/controller/dynamographdeployment_controller.go
  deploy/cloud/operator/internal/controller_common/predicate.go
  deploy/cloud/operator/internal/rbac/manager.go
  deploy/cloud/operator/internal/rbac/manager_test.go
Owners: @hutm, @biswapanda, @ishandhanani, @julienmancuso, @hhzhang16, @nnshah1, @mohammedabdulwahhab, @atchernych

Adding elements required for version switcher
  docs/conf.py
  docs/project.json
  docs/versions1.json
Owners: @ai-dynamo/python-codeowners, @ai-dynamo/Devops

CODEOWNERS:

# CODEOWNERS file for Dynamo
#
# For more information about CODEOWNERS files, see:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Rust - Keep these two the same. Or better make an alias like devops have.
*.rs @ai-dynamo/dynamo-rust-codeowners
Cargo.toml @ai-dynamo/dynamo-rust-codeowners

# Python Libraries
*.py @ai-dynamo/python-codeowners @ai-dynamo/Devops

# Container/Environments
/container/ @rmccorm4 @tanmayv25 @richardhuo-nv @ptarasiewiczNV @ishandhanani @alec-flowers @nnshah1 @ai-dynamo/Devops

# Dynamo deploy
/deploy/ @hutm @biswapanda @ishandhanani @julienmancuso @hhzhang16 @nnshah1 @mohammedabdulwahhab @atchernych

# Examples
/examples/ @ai-dynamo/Devops @nnshah1 @whoisj @nealvaidya @ishandhanani @ai-dynamo/dynamo-rust-codeowners
/examples/*/deploy/ @hutm @biswapanda @ishandhanani @julienmancuso @hhzhang16 @mohammedabdulwahhab @atchernych
/examples/multimodal/ @indrajit96 @krishung5 @whoisj @hhzhang16 @biswapanda

# CI/CD
/.github/ @ai-dynamo/Devops @nnshah1
/.github/workflows/*.ps1 @ai-dynamo/Devops @whoisj
CODEOWNERS @ai-dynamo/Devops @nnshah1

# Planner
/components/planner/ @tedzhouhk @hhzhang16 @jasonqinzhou @PeaBrane @Aphoh @alec-flowers @michaelshin
/benchmarks/profiler/ @tedzhouhk @hhzhang16 @jasonqinzhou @PeaBrane @Aphoh @alec-flowers @michaelshin
/tests/planner/ @tedzhouhk @hhzhang16 @jasonqinzhou @PeaBrane @Aphoh @alec-flowers @michaelshin

# Legal
/ATTRIBUTIONS-Rust.md @ai-dynamo/Devops
/ATTRIBUTIONS.md @ai-dynamo/Devops
/CODE_OF_CONDUCT.md @ai-dynamo/Devops
/CONTRIBUTING.md @ai-dynamo/Devops
/LICENSE @ai-dynamo/Devops
/SECURITY.md @ai-dynamo/Devops
