Repository aschilling-nv/dynamo, changes with the owners that CODEOWNERS names for each.
All owners: @ai-dynamo/dynamo-rust-codeowners, @ai-dynamo/python-codeowners, @ai-dynamo/Devops, @rmccorm4, @tanmayv25, @richardhuo-nv, @ptarasiewiczNV, @ishandhanani, @alec-flowers, @nnshah1, @hutm, @biswapanda, @julienmancuso, @hhzhang16, @mohammedabdulwahhab, @atchernych, @whoisj, @nealvaidya, @indrajit96, @krishung5, @tedzhouhk, @jasonqinzhou, @PeaBrane, @Aphoh, @michaelshin

move vllm docs
  docs/backends/vllm/LMCache_Integration.md
  docs/backends/vllm/README.md
  docs/backends/vllm/deepseek-r1.md
  docs/backends/vllm/gpt-oss.md
  docs/backends/vllm/multi-node.md
Owners: none

broken links
  docs/_includes/dive_in_examples.rst
  docs/backends/vllm/README.md
Owners: none

temp
  .github/workflows/docs-link-check.yml
  .github/workflows/generate-docs.yml
Owners: @ai-dynamo/Devops, @nnshah1

fix
  docs/_includes/dive_in_examples.rst
Owners: none

fxies
  components/README.md
  docs/_includes/dive_in_examples.rst
  docs/backends/vllm/gpt-oss.md
  docs/kubernetes/fluxcd.md
  examples/basics/disaggregated_serving/README.md
  examples/multimodal/README.md
Owners: @ai-dynamo/Devops, @nnshah1, @whoisj, @nealvaidya, @ishandhanani, @ai-dynamo/dynamo-rust-codeowners, @indrajit96, @krishung5, @hhzhang16, @biswapanda

fixes
  docs/_sections/backends.rst
  docs/architecture/kvbm_intro.rst
  docs/backends/vllm/deepseek-r1.md
  docs/hidden_toctree.rst
  docs/kubernetes/metrics.md
Owners: none

links
  README.md
  components/backends/sglang/gpt-oss.md
  components/backends/trtllm/deploy/README.md
  examples/basics/quickstart/README.md
Owners: @ai-dynamo/Devops, @nnshah1, @whoisj, @nealvaidya, @ishandhanani, @ai-dynamo/dynamo-rust-codeowners

remove symlinks
  docs/components/backends/vllm/LMCache_Integration.md
  docs/components/backends/vllm/README.md
Owners: none

move sglang
  docs/_includes/dive_in_examples.rst
  docs/_sections/backends.rst
  docs/backends/sglang/README.md
  docs/backends/sglang/dsr1-wideep-gb200.md
  docs/backends/sglang/dsr1-wideep-h100.md
  docs/backends/sglang/expert-distribution-eplb.md
  docs/backends/sglang/gpt-oss.md
  docs/backends/sglang/multimodal_epd.md
  docs/backends/sglang/multinode-examples.md
  docs/backends/sglang/sgl-hicache-example.md
  docs/components/backends/sglang/README.md
  docs/components/backends/sglang/docs/multinode-examples.md
  docs/hidden_toctree.rst
Owners: none

links
  README.md
  components/README.md
  components/backends/sglang/slurm_jobs/README.md
  components/backends/trtllm/README.md
  docs/backends/sglang/README.md
  docs/backends/sglang/multimodal_epd.md
  examples/basics/multinode/README.md
Owners: @ai-dynamo/Devops, @nnshah1, @whoisj, @nealvaidya, @ishandhanani, @ai-dynamo/dynamo-rust-codeowners

trtllm
  docs/_includes/dive_in_examples.rst
  docs/_sections/backends.rst
  docs/backends/trtllm/README.md
  docs/backends/trtllm/gemma3_sliding_window_attention.md
  docs/backends/trtllm/gpt-oss.md
  docs/backends/trtllm/kv-cache-transfer.md
  docs/backends/trtllm/llama4_plus_eagle.md
  docs/backends/trtllm/multimodal_epd.md
  docs/backends/trtllm/multimodal_support.md
  docs/backends/trtllm/multinode/multinode-examples.md
  docs/backends/trtllm/multinode/multinode-multimodal-example.md
  docs/components/backends/trtllm/README.md
  docs/components/backends/trtllm/multinode/multinode-examples.md
  docs/hidden_toctree.rst
Owners: none

links
  README.md
  components/README.md
  components/backends/trtllm/deploy/README.md
  components/backends/trtllm/performance_sweeps/README.md
  docs/backends/trtllm/README.md
Owners: none

Revert "temp"
  .github/workflows/docs-link-check.yml
  .github/workflows/generate-docs.yml
Owners: @ai-dynamo/Devops, @nnshah1

remove toctree in md
  docs/backends/sglang/README.md
  docs/backends/trtllm/README.md
  docs/hidden_toctree.rst
Owners: none

Sglang cancellation
  components/src/dynamo/sglang/main.py
  components/src/dynamo/sglang/request_handlers/decode_handler.py
  components/src/dynamo/sglang/request_handlers/handler_base.py
  components/src/dynamo/sglang/request_handlers/prefill_handler.py
  tests/fault_tolerance/cancellation/test_sglang.py
Owners: @ai-dynamo/python-codeowners, @ai-dynamo/Devops

Sglang cancellation
  components/src/dynamo/sglang/request_handlers/decode_handler.py
  components/src/dynamo/sglang/request_handlers/handler_base.py
  components/src/dynamo/sglang/request_handlers/prefill_handler.py
  tests/fault_tolerance/cancellation/test_sglang.py
Owners: @ai-dynamo/python-codeowners, @ai-dynamo/Devops

refactor: merge python_generator into gen_python_prometheus_names and ensure deterministic output
  lib/bindings/python/codegen/Cargo.toml
  lib/bindings/python/codegen/src/gen_python_prometheus_names.rs
  lib/bindings/python/codegen/src/lib.rs
  lib/bindings/python/codegen/src/python_generator.rs
  lib/bindings/python/src/dynamo/prometheus_names.py
Owners: @ai-dynamo/dynamo-rust-codeowners, @ai-dynamo/python-codeowners, @ai-dynamo/Devops

add and print container build metrics
  .github/workflows/container-validation-backends.yml
Owners: @ai-dynamo/Devops, @nnshah1

fix up start and end times
  .github/workflows/container-validation-backends.yml
Owners: @ai-dynamo/Devops, @nnshah1

Update tests
  tests/fault_tolerance/cancellation/test_sglang.py
Owners: @ai-dynamo/python-codeowners, @ai-dynamo/Devops

refactor: remove benchmark and util scripts from components/backends/sglang
  components/backends/sglang/benchmarks/bench.sh
  components/backends/sglang/benchmarks/generate_bench_data.py
  components/backends/sglang/docs/dsr1-wideep-gb200.md
  components/backends/sglang/docs/dsr1-wideep-h100.md
  components/backends/sglang/docs/multinode-examples.md
  components/backends/sglang/utils/gen_env_vars.sh
Owners: @ai-dynamo/python-codeowners, @ai-dynamo/Devops

move metrics capturing to action file
  .github/actions/docker-build/action.yml
  .github/workflows/container-validation-backends.yml
Owners: @ai-dynamo/Devops, @nnshah1

Update test for CI
  tests/fault_tolerance/cancellation/test_sglang.py
Owners: @ai-dynamo/python-codeowners, @ai-dynamo/Devops

remove sccache metrics
  .github/actions/docker-build/action.yml
  .github/workflows/container-validation-backends.yml
Owners: @ai-dynamo/Devops, @nnshah1

TRTLLM & SGLang Unit Tests (--custom-jinja-template)
  .github/workflows/container-validation-backends.yml
  components/src/dynamo/sglang/args.py
  components/src/dynamo/trtllm/utils/trtllm_utils.py
  pyproject.toml
  tests/unit/test_sglang_unit.py
  tests/unit/test_trtllm_unit.py
Owners: @ai-dynamo/Devops, @nnshah1, @ai-dynamo/python-codeowners

adjust for multiple containers
  .github/actions/docker-build/action.yml
  .github/workflows/container-validation-backends.yml
  .github/workflows/upload_complete_workflow_metrics.py
Owners: @ai-dynamo/Devops, @nnshah1

Fix Comments
  components/src/dynamo/sglang/request_handlers/embedding/embedding_handler.py
  components/src/dynamo/sglang/request_handlers/handler_base.py
  components/src/dynamo/sglang/request_handlers/llm/decode_handler.py
  components/src/dynamo/sglang/request_handlers/llm/prefill_handler.py
  components/src/dynamo/sglang/request_handlers/multimodal/encode_worker_handler.py
  components/src/dynamo/sglang/request_handlers/multimodal/processor_handler.py
  components/src/dynamo/sglang/request_handlers/multimodal/worker_handler.py
  tests/fault_tolerance/cancellation/test_sglang.py
Owners: @ai-dynamo/python-codeowners, @ai-dynamo/Devops

chore: Remove deprecated components/metrics and references
  Cargo.lock
  Cargo.toml
  components/metrics/Cargo.toml
  components/metrics/README.md
  components/metrics/images/dynamo_metrics_grafana.png
  components/metrics/src/bin/mock_worker.rs
  components/metrics/src/lib.rs
  components/metrics/src/main.rs
  deploy/metrics/README.md
  deploy/metrics/grafana_dashboards/grafana-llm-metrics.json
  deploy/metrics/prometheus.yml
Owners: @ai-dynamo/dynamo-rust-codeowners, @hutm, @biswapanda, @ishandhanani, @julienmancuso, @hhzhang16, @nnshah1, @mohammedabdulwahhab, @atchernych

consolidate container metrics to 1 json
  .github/actions/docker-build/action.yml
  .github/workflows/container-validation-backends.yml
  .github/workflows/upload_complete_workflow_metrics.py
Owners: @ai-dynamo/Devops, @nnshah1

drop to just vllm
  .github/workflows/upload_complete_workflow_metrics.py
Owners: @ai-dynamo/Devops, @nnshah1

CI test
  tests/fault_tolerance/cancellation/test_sglang.py
Owners: @ai-dynamo/python-codeowners, @ai-dynamo/Devops

separate out artifact files
  .github/actions/docker-build/action.yml
  .github/workflows/container-validation-backends.yml
Owners: @ai-dynamo/Devops, @nnshah1

fix: A WAR to make completion end point accept as StringArray as input
  lib/llm/src/preprocessor.rs
Owners: @ai-dynamo/dynamo-rust-codeowners

CI test
  tests/fault_tolerance/cancellation/test_sglang.py
Owners: @ai-dynamo/python-codeowners, @ai-dynamo/Devops

add some debugging
  .github/actions/docker-build/action.yml
  .github/workflows/upload_complete_workflow_metrics.py
Owners: @ai-dynamo/Devops, @nnshah1

feat: add DGDR custom resource
  deploy/cloud/helm/crds/templates/nvidia.com_dynamographdeploymentrequests.yaml
  deploy/cloud/helm/platform/README.md
  deploy/cloud/helm/platform/components/operator/templates/deployment.yaml
  deploy/cloud/helm/platform/components/operator/templates/manager-rbac.yaml
  deploy/cloud/helm/platform/components/operator/templates/profiling-job-rbac.yaml
  deploy/cloud/helm/platform/components/operator/values.yaml
  deploy/cloud/helm/platform/values.yaml
  deploy/cloud/operator/README.md
  deploy/cloud/operator/api/v1alpha1/dynamographdeploymentrequest_types.go
  deploy/cloud/operator/api/v1alpha1/zz_generated.deepcopy.go
  deploy/cloud/operator/cmd/main.go
  deploy/cloud/operator/config/crd/bases/nvidia.com_dynamographdeploymentrequests.yaml
  deploy/cloud/operator/config/rbac/role.yaml
  deploy/cloud/operator/config/samples/kustomization.yaml
  deploy/cloud/operator/config/samples/nvidia.com_v1alpha1_dynamographdeploymentrequest.yaml
  deploy/cloud/operator/internal/controller/dynamographdeployment_controller.go
  deploy/cloud/operator/internal/controller/dynamographdeploymentrequest_controller.go
  deploy/cloud/operator/internal/controller_common/predicate.go
  deploy/cloud/operator/internal/rbac/manager.go
  deploy/cloud/operator/internal/rbac/manager_test.go
  docs/index.rst
  docs/kubernetes/README.md
  docs/kubernetes/api_reference.md
Owners: @hutm, @biswapanda, @ishandhanani, @julienmancuso, @hhzhang16, @nnshah1, @mohammedabdulwahhab, @atchernych

bump vLLM to 0.11.0
  container/Dockerfile
  container/Dockerfile.vllm
  container/build.sh
  container/deps/vllm/install_vllm.sh
  pyproject.toml
Owners: @rmccorm4, @tanmayv25, @richardhuo-nv, @ptarasiewiczNV, @ishandhanani, @alec-flowers, @nnshah1, @ai-dynamo/Devops

remove extra import
  .github/workflows/upload_complete_workflow_metrics.py
Owners: @ai-dynamo/Devops, @nnshah1

feat: add NIM backend metrics polling support
  components/src/dynamo/frontend/main.py
  examples/custom_backend/nim/README.md
  examples/custom_backend/nim/mock_nim_server.py
  lib/bindings/python/rust/llm/entrypoint.rs
  lib/llm/src/entrypoint/input/http.rs
  lib/llm/src/http/service.rs
  lib/llm/src/http/service/metrics.rs
  lib/llm/src/http/service/nim.rs
  lib/llm/src/http/service/service_v2.rs
  lib/llm/src/local_model.rs
Owners: @ai-dynamo/python-codeowners, @ai-dynamo/Devops, @nnshah1, @whoisj, @nealvaidya, @ishandhanani, @ai-dynamo/dynamo-rust-codeowners

Remove Pre-Merge Marker
  tests/unit/test_sglang_unit.py
  tests/unit/test_trtllm_unit.py
Owners: @ai-dynamo/python-codeowners, @ai-dynamo/Devops

CODEOWNERS:

# CODEOWNERS file for Dynamo
#
# For more information about CODEOWNERS files, see:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Rust - Keep these two the same. Or better make an alias like devops have.
*.rs @ai-dynamo/dynamo-rust-codeowners
Cargo.toml @ai-dynamo/dynamo-rust-codeowners

# Python Libraries
*.py @ai-dynamo/python-codeowners @ai-dynamo/Devops

# Container/Environments
/container/ @rmccorm4 @tanmayv25 @richardhuo-nv @ptarasiewiczNV @ishandhanani @alec-flowers @nnshah1 @ai-dynamo/Devops

# Dynamo deploy
/deploy/ @hutm @biswapanda @ishandhanani @julienmancuso @hhzhang16 @nnshah1 @mohammedabdulwahhab @atchernych

# Examples
/examples/ @ai-dynamo/Devops @nnshah1 @whoisj @nealvaidya @ishandhanani @ai-dynamo/dynamo-rust-codeowners
/examples/*/deploy/ @hutm @biswapanda @ishandhanani @julienmancuso @hhzhang16 @mohammedabdulwahhab @atchernych
/examples/multimodal/ @indrajit96 @krishung5 @whoisj @hhzhang16 @biswapanda

# CI/CD
/.github/ @ai-dynamo/Devops @nnshah1
/.github/workflows/*.ps1 @ai-dynamo/Devops @whoisj
CODEOWNERS @ai-dynamo/Devops @nnshah1

# Planner
/components/planner/ @tedzhouhk @hhzhang16 @jasonqinzhou @PeaBrane @Aphoh @alec-flowers @michaelshin
/benchmarks/profiler/ @tedzhouhk @hhzhang16 @jasonqinzhou @PeaBrane @Aphoh @alec-flowers @michaelshin
/tests/planner/ @tedzhouhk @hhzhang16 @jasonqinzhou @PeaBrane @Aphoh @alec-flowers @michaelshin

# Legal
/ATTRIBUTIONS-Rust.md @ai-dynamo/Devops
/ATTRIBUTIONS.md @ai-dynamo/Devops
/CODE_OF_CONDUCT.md @ai-dynamo/Devops
/CONTRIBUTING.md @ai-dynamo/Devops
/LICENSE @ai-dynamo/Devops
/SECURITY.md @ai-dynamo/Devops
